.icon_button {
    background: url(../image/icon.png) no-repeat;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block
}
.icon_play {
    background-position: 0px 0px;
}
.icon_share {
    background-position: 0px -80px;
}
.icon_add {
    background-position: 0px -160px;
}
.icon_upload {
    background-position: 0px -240px;
}
.icon_delete {
    background-position: 0px -320px;
}
.icon_stop {
    background-position: 0px -400px;
}
.icon_edit {
    background-position: 0px -480px;
}
.icon_play_green {
    background-position: -80px 0px;
}
.icon_share_green {
    background-position: -80px -80px;
}
.icon_add_green {
    background-position: -80px -160px;
}
.icon_upload_green {
    background-position: -80px -240px;
}
.icon_delete_green {
    background-position: -80px -320px;
}
.icon_stop_green {
    background-position: -80px -400px;
}
.icon_edit_green {
    background-position: -80px -480px;
}            
.icon_play_opacity {
    background-position: -320px 0px;
}
.icon_share_opacity {
    background-position: -320px -80px;
}
.icon_add_opacity {
    background-position: -320px -160px;
}
.icon_upload_opacity {
    background-position: -320px -240px;
}
.icon_delete_opacity {
    background-position: -320px -320px;
}
.icon_stop_opacity {
    background-position: -320px -400px;
}
.icon_edit_opacity {
    background-position: -320px -480px;
}      